# Umami analytics (client)
NEXT_PUBLIC_UMAMI_WEBSITE_ID=
NEXT_PUBLIC_UMAMI_HOST_URL=https://stats.antwansherif.com
NEXT_PUBLIC_UMAMI_SCRIPT_NAME=u.js
# Umami analytics (server channel)
UMAMI_COLLECT_ENDPOINT=/api/e
